{% extends "layout.html" %}

{% block pageTitle %}
  Confirm sign in – {{ APHA }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Confirm sign in</h1>

      <form class="form" action="/url/of/next/page" method="post">

        <p>Click below to sign in</p>

        <a href="your-details" class="govuk-button" type="submit">Continue</a>

      </form>

    </div>
  </div>

{% endblock %}
